div{
    height: 296px;
    width: 343px;
}

#mail,#pass{
    height: 50px;
    width: 343px;
    background-color: #E8E8E8;
}

#show{
    margin-left: -54px;
}

#lg{
    height: 50px;
    width: 343px;
    margin-top: 30px;
}